doctype 5
html
  head
    link(rel='stylesheet', type='text/css', href="/css/bootstrap.min.css")
    link(rel='stylesheet', type='text/css', href="/css/styles.css")
    script(type='text/javascript', src='/js/vendor/require.js')
    script(type='text/javascript')
      require.config({
        baseUrl: "/js/modules",
        paths: {
          'jquery': 'http://code.jquery.com/jquery-1.8.3.min',
          'backbone': '../vendor/backbone',
          'underscore': '../vendor/underscore',
          'transparency': '../vendor/transparency',
          'moment': '../vendor/moment',
          'knockout': '../vendor/knockout',
          'highcharts': '../vendor/highcharts',
          'uri': '../vendor/URI.min',
          'SecondLevelDomains': '../vendor/SecondLevelDomains',
          'IPv6': '../vendor/IPv6',
          'punycode': '../vendor/punycode'
        },
        shim: {
          'underscore': {
            exports: '_'
          },
          'backbone': {
            deps: ['underscore', 'jquery'],
            exports: 'Backbone'
          },
          "highcharts": {
              "exports": "Highcharts",
              "deps": [ "jquery"] 
          }
        }
      });
    title &lt;3
  body
    header
      nav
        a(href='/', data-bind='css: { active: currentView() == "listView"}')
          i.icon.icon-white.icon-th-list
        a(href='/stats', data-bind='css: { active: currentView() == "statsView"}')
          i.icon.icon-white.icon-eye-open

    #main
      table#messages.view(data-bind='visible: currentView() == "listView"')
        tr.message
          td.message-icon
            //- i.icon.icon-tag
          td.message-user
            span.displayName
            span.username   
          td.message-timestamp
            span.timestamp
          td.message-body
            span.body
      #stats.view(data-bind='visible: currentView() == "statsView"')
        h2.title
        #userMessageCount.chart.chart-pie
        #messageCountPerHour.chart
        #userMessageCountPerHour.chart.chart-full

    script(type='text/javascript')
      require(['app'], function(app){ app.main() })


